services:
  tmdb-api:
    image: ghcr.io/sebastian0619/proxy-nest/proxy-go:test
    container_name: tmdb-api
    ports:
      - "6635:6635"
    env_file:
      - .env
    environment:
      # 服务特定配置覆盖
      - UPSTREAM_TYPE=${UPSTREAM_TYPE_API}
      - UPSTREAM_SERVERS=${UPSTREAM_SERVERS_API}
      - DISK_CACHE_CLEANUP_INTERVAL=${DISK_CACHE_CLEANUP_INTERVAL_API}
      - MEMORY_CACHE_CLEANUP_INTERVAL=${MEMORY_CACHE_CLEANUP_INTERVAL_API}
      - CACHE_TTL=${CACHE_TTL_API}
      # - HTTP_PROXY=${HTTP_PROXY_API}  # 可选代理
    volumes:
      - ./cache:/app/cache
    restart: always
    networks:
      - tmdb

  tmdb-image:
    build:
      context: ./go-server
      dockerfile: Dockerfile.local
    container_name: tmdb-image
    ports:
      - "6633:6635"
    env_file:
      - .env
    environment:
      # 服务特定配置覆盖
      - UPSTREAM_TYPE=${UPSTREAM_TYPE_IMAGE}
      - UPSTREAM_SERVERS=${UPSTREAM_SERVERS_IMAGE}
      - DISK_CACHE_CLEANUP_INTERVAL=${DISK_CACHE_CLEANUP_INTERVAL_IMAGE}
      - MEMORY_CACHE_CLEANUP_INTERVAL=${MEMORY_CACHE_CLEANUP_INTERVAL_IMAGE}
      - CACHE_TTL=${CACHE_TTL_IMAGE}
      - HTTP_PROXY=${HTTP_PROXY_IMAGE}
      - TMDB_IMAGE_TEST_URL=${TMDB_IMAGE_TEST_URL}
    volumes:
      - ./image:/app/cache
    restart: always
    networks:
      - tmdb

networks:
  tmdb:
    driver: bridge